.imageViewer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;

  & * {
    pointer-events: initial; /* Reset inability to be event target for all nested elements */
  }
}

.image {
  width: initial; /* Override page custom styles */
  max-width: 100%;
  height: initial; /* Override page custom styles */
  max-height: 100%;
}
