.loader {
  width: 60px;
  height: 60px;
  pointer-events: none;
  fill: white;
  animation: image-viewer-spin 1s linear infinite;
}

@keyframes image-viewer-spin {
  to {
    transform: rotate(1turn);
  }
}
