.imageViewer {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgb(0 0 0 / 80%);
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 9999;
}

.closeBtn {
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
}

.image {
  max-height: 100%;
  max-width: 100%;
}
